html {
  background:#d3d4cc;
     }

.container {
     margin:0 auto;
     width:1200px;
     height:590px;
     background:#d8caaf;
     }

.container1 {
     margin:0 auto;
     width:1150px;
     height:100px;
     background:#c9c0d3;
     }


.container2_1{
     margin: 0 auto;
     width:380px;
     height:25px;
     background:#7a7281;
     }
.container2_2{
     margin: 0 auto;
     width:380px;
     height:25px;
     background:#a27e7e;
     }
.container2_3{
     margin: 0 auto;
     width:380px;
     height:25px;
     background:#9ca8b8;
     }

.container3_1{
     margin: 0 auto;
     width:700px;
     height:50px;
     background:#96a48b;
     }
.container3_2{
     margin: 0 auto;
     width:700px;
     height:50px;
     background:#96a48b;
     }
.container3_3{
     margin: 0 auto;
     width:700px;
     height:50px;
     background:#96a48b;
     }
.container3_4{
     margin: 0 auto;
     width:700px;
     height:50px;
     background:#96a48b;
     }
.container3_5{
     margin: 0 auto;
     width:700px;
     height:50px;
     background:#96a48b;
     }
